<template name = "about"></template>
<p>Pantenomos est un projet développé par un groupe d'étudiants pour un projet de semestre. Soucieux d'améliorer et affiner
    le processsu démocratique Suisse, le projet se veut être une platforme d'expression sur les différents sujet
    qui seront prochainement votés en Suisse. Au lieu d'attendre le vote final qui décidera d'une
    facon binaire l'issue du vote, pantenomos permet d'offrir une analyse plus fine de l'opinion des 
    électeurs.
    De plus, il est également possible de l'utiliser à l'interne des partis politique pour les discussions concernant
    les futurs projets de lois. Une solution digitale permettant de centraliser et de visualiser les points de dissention ainsi 
    que ceux d'accords.
    Les prochaines versions de ce site seront potentiellement enrichies de fonctionnalités permettant des analyses sur le contenu substantiel des 
    textes de lois et de les lier auc réactions que celle-ci suscitent.
</p>
