

<!-- il y a un appel de ce template sur la home page 
mais je ne trouve pas ou pour l'enelver. Ce template est le même
que "thirdPart"-->




  <body>
    <div class="container">
      <header>
        <h1>Liste à enlenver plus vite</h1>

        
        <form class="new-commentaire">
          <input type="text" name="text" placeholder="Type to add new comment" />
        </form>

      </header>
   
      <ul>
        {{#each commentaires}}
          {{> commentaire}}
        {{/each}}
      </ul>
    </div>
  </body>









  