<template name="firstPart">

    <h2>Sondage</h2>
    
    <form action="/action_page.php">
        <input type="checkbox" name="oui" value="Oui"> Je vote pour<br>
        <input type="checkbox" name="non" value="Non"> Je vote contre<br>
        <input type="checkbox" name="ouiPrincipe" value="ouiPrincipe" checked> chevreuil<br><br>
        <input type="submit" value="vérifie ta réponse">
        <p>ta réponse est: {{reponseUne}}</p>
      </form>

      <textarea rows="4" cols="50">
        texte ou la personne doit mettre son avis général
        
        </textarea>
        <input type="submit" value="vérifie ta réponse">
        <p>ta réponse est: {{commentaires}}</p>

      <div class ="container">
        <ul>
            {{#each commentaires}}
            {{> commentaire}}
           {{/each}}
        </ul>
      </div>

</template>