<template name="homePage">

    {{> header}}

    {{> loginButtons}}
    
    <nav>
        <ul>
            <form>
                <select name="language" size="1">
                  <option>FR</option>  
                  <option>DE</option>  
                  <option>IT</option>
                  <option>RM</option>
                  <option>EN</option>
                </select>
            </form>
        </ul>
    </nav>

    <div class="row">

        {{> hp_project_init}}

    </div>

    <br><br>
    <input type="button" value="Nouveau projet" onClick="FlowRouter.go('newProject')"/>

    {{> hp_copyright}}


</template>

