<!-- Page de formulaire pour l'ajout d'un projet de loi -->
<template name="newProject">

    {{> sidebar}}

    {{> navbar}}

    <div class="main"><br><br><br><br><br>

    <form id="formNewProject">

        <p>
            <input id="projectTitle" class="formProject" type="text" size="60o" placeholder="Titre du projet" />
        </p>

        <p>
            <textarea id="projectSummary" rows="3" cols="58" placeholder="Résumé du projet"></textarea>
        </p>

        <div id="lawText">
        </div>

        <p>
            <input id="addAmendement" class="formProject" type="button" value="Nouvel amendement">
        </p>

        <input type="submit" id="btnAddNewProject" class="formProject" value="Ajouter projet">

    </form>
    
    {{> copyright}}

</div>
</template>