<!-- Page de formulaire pour l'ajout d'un projet de loi -->

<template name="newProject">

    {{> header}}

    <form id="formNewProject">

        <p>
            Titre du projet : <input id="projectTitle" type="text" size="60" />
        </p>

        <p>
            <input id="addAmendement" type="button" value="Nouvel amendement">
        </p>

        <div id="lawText">

        </div>

        <input type="submit" id="btnAddNewProject" value="Ajouter projet">
    
    </form>
    
    {{> hp_copyright}}

</template>