<!-- <template name="sidebar">
<aside class="sidebar-left">
    <img source="logo.png" class="icon">
    <a class="company-logo" href="#">PANTENOMOS</a>
    <div class="sidebar-links">
        <a class="link-red" href="#" id="profile-link"><i class="fa fa-user"></i>Profile</a>
        <a class="link-blue" href="#" id="laws-link"><i class="fa fa-comments-o"></i>Laws</a>
        <a class="link-yellow" href="#" id="rankings-link"><i class="fa fa-trophy"></i>Rankings</a>
        <a class="link-green" href="#" id="search-link"><i class="fa fa-search"></i>Search</a>
    </div>
</aside>
</template> -->

<template name="sidebar">
    <div class="sidebar">
      
    </div>
  
</template>

