<!-- Troisième partie: commentaires -->
<template name="vot_comments">
 
<div class="border border-danger mt-4" >
  <div class="main_1"> 
  {{>navbar}}

  <h2>Ajoutez un commentaire général</h2>

    <div class="container">

      <form class="newComment">

          Pseudonyme:<br><br>
          <input input id="pseudoComment" type="text" size="10"><br><br>
          Commentaire:<br><br>
          <input id="txtComment" type="text" size="60"><br><br>
          <input type="submit" value="Poster"><br><br>
  
        </form>

      <!-- À faire: ajouter les commentaires en puces, puis essayer de les relier au compte utilisateur. -->

      <ul>
        
        {{#each comments}}
            <li>{{comment.pseudo}}, le {{formateDate comment.createdAt}} : <br> {{comment.text}}<br><br></li>
        {{/each}}
        
      </ul>

  </div>
</div>
</div>
</template>