<!-- Première partie: sondage -->
<!-- Si l'utilisateur est connecté-->
<template name="vot_poll">
    
    <div class="border border-danger">
        <div class="main_1">
        <h2>Êtes-vous pour ou contre cette initiative?</h2><br>

        <div class="d-flex justify-content-between">

            <div class = "survey">

                <form class="poll" id="pollChoice">

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="Pour" name="choice" value="Pour" checked="checked">
                        <label class="custom-control-label" for="Pour">Pour</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="PourPrincipe" name="choice" value="PourPrincipe">
                        <label class="custom-control-label" for="PourPrincipe">Pour sur le principe</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="ContrePrincipe" name="choice" value ="ContrePrincipe">
                        <label class="custom-control-label" for="ContrePrincipe">Contre sur le principe</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="Contre" name="choice" value="Contre">
                        <label class="custom-control-label" for="Contre">Contre</label>
                    </div> <br> <br>

                    <input type="button" id="btnAddVote" class ="valider" value="Voter">


                </form>
                
                <br><p id = "choixReponse">Votre choix {{choixUtilisateur}} et nombre de votes : {{nombreVote}}</p><br>
                

            </div>

        </div>
    </div>
</div>

</template>

<!-- <template name="vot_poll2">
    {{#if currentUser}}
    <div class="border border-danger">
        <div class="main_1">
        <h2>Êtes-vous pour ou contre cette initiative?</h2><br>

        <div class="d-flex justify-content-between">

            <div class = "survey">

                <form class="poll" id="pollChoice">

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample" value="Pour">
                        <label class="custom-control-label" for="defaultInline1">Pour</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample" value="PourPrincipe">
                        <label class="custom-control-label" for="defaultInline2">Pour sur le principe</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline4" name="inlineDefaultRadiosExample" value ="ContrePrincipe">
                        <label class="custom-control-label" for="defaultInline4">Contre sur le principe</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample" value="Contre">
                        <label class="custom-control-label" for="defaultInline3">Contre</label>
                    </div> <br> <br>
                    <input type="submit" id="btnAddVote" value="Voter">


                </form>

                <br><p id = "choixReponse">Votre réponse: {{pollChoice.value}}</p>

            </div>

        </div>
    </div>
</div>
{{/if}}
</template> -->
