<template name="vot_firstPart">

    <h2>Sondage</h2>

    <div id = "survey">

        <form class="cases">

            <input type="radio" name="oui" value="Oui"> POUR<br>
            <input type="radio" name="non" value="Non"> CONTRE<br>
            <input type="radio" name="ouiPrincipe" value="ouiPrincipe" > OUI SUR LE PRINCIPE<br>
            <input type="radio" name="nonPrincipe" value="nonPrincipe" > NON SUR LE PRINCIPE<br><br>

            <input type="checkbox" name="check" onclick="onlyOne(this)">
            <input type="checkbox" name="check" onclick="onlyOne(this)">
            <input type="checkbox" name="check" onclick="onlyOne(this)">
            <input type="checkbox" name="check" onclick="onlyOne(this)">
            <input type="checkbox" name="check" onclick="onlyOne(this)">
        </form>

        <p>Vous avez séléctionné la réponse : {{case1}}</p>

    </div>

</template>