<!-- Seconde partie: texte de loi -->
<template name="vot_lawText">

<div class="hoveringDiv" id="hoveringDiv">
    <div class="popupChoices highlightPour">Pour</div>
    <div class="popupChoices highlightPourPrincipe">Pour sur le principe</div>
    <div class="popupChoices">Pas d'avis</div>
    <div class="popupChoices highlightContrePrincipe">Contre sur le principe</div>
    <div class="popupChoices highlightContre">Contre</div>
</div>
  
 <div class="bordure">
     <div class="main_1"> 
         <h2>Quels sont les points sur lesquels vous souhaiteriez revenir?</h2><br>

    <div id="laws" class="container">

        {{#each project.amendements}}

            {{#let amendementIndex=@index}}

            <div class="lawAmendementTitle">{{amendement.title}}</div>

                {{#each amendement.articles}}

                    {{#let articleIndex=@index}}

                    <div class="lawTextBody">

                        <div class="lawTextTitle">{{article.title}}</div>
                    
                        {{{article.text}}}

                        {{#each article.points}}

                            {{#let pointIndex=@index}}

                            <div class="articlePoint" id="am_{{amendementIndex}}_art_{{articleIndex}}_point_{{pointIndex}}">{{content}} <span class="showPopup">+</span></div>

                            {{/let}}

                        {{/each}}

                    </div>

                    {{/let}}

                {{/each}}

                {{/let}}
                
        {{/each}}

            </div>
        </div>
    </div>
</template>