<!-- Première partie: sondage -->
<template name="vot_poll">

    <h2>Êtes-vous pour ou contre cette initiative?</h2><br>

    <div class = "survey">
            <form class="poll" id="pollChoice">

                    <input type="radio" class="pollCheckBox" name="avis" value="Pour" checked> POUR<br>
                    <input type="radio" class="pollCheckBox" name="avis" value="PourPrincipe"> POUR SUR LE PRINCIPE<br>
                    <input type="radio" class="pollCheckBox" name="avis" value="Contre"> CONTRE<br>
                    <input type="radio" class="pollCheckBox" name="avis" value="ContrePrincipe"> CONTRE SUR LE PRINCIPE<br><br>
                   
                   <p id = "choixReponse">Votre réponse: {{pollChoice.value}}</p>
            </form>
    </div>

</template>