<template name="vot_secondPart">
    <h1>Textes de lois</h1>
    <div id="laws">
        <ul>
            <li id="firstLaw">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias magnam odio inventore a distinctio est, suscipit fugiat? Hic delectus consequuntur quisquam, praesentium impedit rerum quibusdam odio? Nihil deleniti saepe incidunt?</li>
            <div id="firstComment">
                <input type="text">
                <input type="button" value="valider">
              </div>

            <li id="secondLaw">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias magnam odio inventore a distinctio est, suscipit fugiat? Hic delectus consequuntur quisquam, praesentium impedit rerum quibusdam odio? Nihil deleniti saepe incidunt?</li>
            <div id="secondComment">
                <input type="text">
                <input type="button" value="valider">
              </div>

        </ul>
    </div>
</template>