<template name="vot_secondPart">

{{>navbar}}
    <h2>Textes de lois</h2>

    <div id="laws">

        <ul>
                <li>
                    <h3>{{project.title}}</h3>
                    
                    {{#each project.amendements}}
                    
                        <h4>{{amendement.title}}</h4>

                        {{#each amendement.articles}}
                    
                            <h4>{{article.title}}</h4>
                            <h5>{{{addLineBreak article.text}}}</h5>

                        {{/each}}

                    {{/each}}
                    
                </li>
        </ul>

    </div>
    
</template>