<!-- Seconde partie: texte de loi -->
<template name="vot_lawText">

    <div class="hoveringDiv" id="hoveringDiv">
        <div class="popupChoices highlightPour">Pour</div>
        <div class="popupChoices highlightPourPrincipe">Pour sur le principe</div>
        <div class="popupChoices highlightPasDavis">Pas d'avis</div>
        <div class="popupChoices highlightContrePrincipe">Contre sur le principe</div>
        <div class="popupChoices highlightContre">Contre</div>
    </div>

     <div class="main_1"> 
         <h2>Quels sont les points sur lesquels vous souhaiteriez revenir?</h2><br>

    <div id="laws" class="container">


        {{#each project.amendements}}

            {{#let amendementIndex=@index}}

            <div class="lawAmendementTitle">{{amendement.title}}</div>

                {{#each amendement.articles}}

                    {{#let articleIndex=@index}}

                    <div class="lawTextBody">

                        <div class="lawTextTitle">{{article.title}}</div>

                        <div id="am_{{amendementIndex}}_art_{{articleIndex}}">

                        {{#each article.points}}

                            {{#let pointIndex=@index}}

                            <p class="articlePoint" id="am_{{amendementIndex}}_art_{{articleIndex}}_point_{{pointIndex}}">{{content}}</p>

                            {{/let}}

                        {{/each}}

                        </div>

                    </div>

                    {{/let}}

                {{/each}}

                {{/let}}
                
        {{/each}}

            </div>
        </div>
</template>