<template name="vot_thirdPart">
  {{>navbar}}

  <h2>Commentaires</h2>

    <div class="container">

      <h3>Espace commentaires</h3>

      <!-- À faire: ajouter les commentaires en puces, puis essayer de les relier au compte utilisateur. -->

      <ul>
        
        {{#each comments}}
            <li>{{comment.createdAt}} — {{comment.text}}</li>
        {{/each}}
        
      </ul>

      <form class="newComment">

        <input id="txtComment" type="text" size="60" placeholder="Poster un commentaire"><br><br>
        <input type="submit" value="Poster">

      </form>

  </div>

</template>