<!-- Troisième partie: commentaires -->

<!-- Lignes 4-36 : Création du formulaire de commentaire pour l'utilisateur connecté-->
  <template name="vot_comments">
      {{> navbar}}
        <div class="card">
          <div class="card-body">
              {{#if currentUser}}
            <form class="js-create-comment">
              <h2>Ajoutez un commentaire général</h2> <br>
              <input type="text" class='form-control mb-2' placeholder="Commentaire" name="content">
              <button type="submit" class="btn btn-danger float-right">Commenter</button>
            </form>
             {{else}}
             <h2>Ajoutez un commentaire général</h2> <br>
            <form class="newComment"> 
              Pseudonyme:<br><br>
              <input input id="pseudoComment" type="text" class='form-control mb-2' placeholder="Ex. Jean Despont"><br><br>             
              Commentaire:<br><br>
              <input id="txtComment" type="text" class='form-control mb-2' placeholder="Commentaire"><br><br>
              <button type="submit" class="btn btn-danger float-right">Commenter</button><br><br>             
            </form>
            {{/if}}     
          </div>
        </div> 
</template>

<template name="comment_list" >
        {{#each comment in comments}}
              {{> comment_single comment=comment}}
        {{/each}}
</template>

  <template name ="comment_single">
    {{#if currentUser}}
      <div class="card my-2">
        <div class="card-body">    
            <h5 class="card-title">{{getUserFullname comment.ownerId}} {{comment.pseudo}}, le {{formateDate comment.createdAt}}</h5>
            <p class="card-text">{{comment.content}} {{comment.text}}</p>
        </div>
      </div> 
    {{else}}
     
      <div class="card my-2">
        <div class="card-body">
               
            <h5 class="card-title"> {{getUserFullname comment.ownerId}} {{comment.pseudo}}, le {{formateDate comment.createdAt}}</h5>
            <p class="card-text"> {{comment.text}} {{comment.content}}</p>
            
        </div>
      </div>     
    {{/if}}
</template>
