<!-- Page relative au projet spécifique -->
<template name="votation">

        {{> sidebar}}

<div class="main">>

    <div id="titleMain">

        <h1>{{project.title}}</h1>
            
    </div>

    {{> navbar}}

    <p id="summary">{{project.summary}}</p>

    <div class="mt-2 mr-3 ml-3">
        {{> vot_poll}}
    </div>

    <div class="mt-5 mr-3 ml-3">
        {{> vot_lawText}}
    </div>

    <div class="mt-5 mr-3 ml-3">    
        {{> vot_comments}}
        {{> comment_list}}   
    </div> 
    
    {{> copyright}}
    
</div>
</template>
