meteorbody {
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul form {
    text-align: right;
    list-style-type: none;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.card-deck {
    float: left;
    width: 30%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content:"";
    display: table;
    clear: both;
}

.container_1{
    padding-top: 100px;
 
    
}

.card {
    border: 3px red;
    box-shadow: 0 4px 8px 0 rgba(255, 3, 3, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #fff9f8;
}

@media screen and (max-width:600px) {
    .card-deck{
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.articleTextArea {
    font-size: 12px;
    border-color: lightgrey;
  }

#txtcopyright {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:lightgrey;
    font-size: 12px;
    margin-left: 12.5%;
    width: 75%;
    margin-top:15%;
}

#laws {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#survey {
    font-family: Arial, Helvetica, sans-serif;
}

#choixReponse {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
}

#firstLaw {
    margin-bottom: 10px;
}

#secondLaw {
    margin-top: 30px;
    margin-bottom: 10px;
}
#logo{
    height:70px;
}
#titleMain{
    padding-top: 110px;
}

.poll {
    margin-right: 100px;
    margin-left: 100px; 
}

.highlightPour {
    background-color: #9fdf9f;
}

.highlightPourPrincipe {
    background-color: #d9f2d9;
}

.highlightContre {
    background-color: #ffcccc;
}

.highlightContrePrincipe {
    background-color: #ffe6e6;
}

.navbar-item {
    font-family: Arial, Helvetica, sans-serif;

}


.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    background-color: rgb(255, 222, 222);
    overflow-x: hidden;
    padding-top: 16px;
  }

.main {
    margin-left: 160px; 
    padding: 0px 10px;
}

.main::before {
    background-image: url("images/swiss_map.jpg");
    background-repeat: no-repeat;
    background-size: 750px;
    background-position: right top;
    background-color:#F7F7F7;
    content: "";
    position: absolute;
    top: 90px;
    left: 0;
    bottom: 150px;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4;
    }

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
  
#Title{
    margin: 0 auto;
    width: 50%;
    display: block;
}
.main_1{
    margin-top:10px;
    margin-left:20px;
}

.subArticle {
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 16px;
}


.lawAmendementTitle {
    font-size: 18px;
    margin-bottom: 24px;
}

.lawTextBody {

    margin-bottom: 24px;
}


/* ==========================================================================
   Mobile styles - Width adjustments
   ========================================================================== */
/* Landscape phones and down */
@media (max-width: 480px) { 

}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) { 

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) { 

}

/* Desktops and laptops ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large screens ----------- */
@media (min-width: 1200px) and (max-width: 3000px) {

}

/* ==========================================================================
   Height adjustments
   ========================================================================== */
/* Landscape phones and down */
@media (max-height:  800px) { 

}

