/* FONTS */
h1, h2, h3, h4, h5, h6, p,{
    font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
      font-size: 50px;
  }
  
  h2 {
      font-size: 30px;
  }
  
  h3 {
      font-size: 24px;
  }
  
  p { 
      font-size: 14px;
  }
  
  .light {
    font-weight: 100
  }
  
  .semi-light {
    font-weight: 300
  }
  
  .regular {
    font-weight: 400
  }
  
  .bold {
    font-weight: 600
  }
  
  .heavy {
    font-weight: 900
  }
  
  /* ==========================================================================
     Colors
     ==========================================================================
  */ 
  
  .white {
    color: #fff;
  }
  
  .red {
    color: #ec4a4d;
  }
  
  .blue {
    color: #2495d0;
  }
  
  .green {
    color: #52b859;
  }
  
  .yellow {
    color: #f7cb5b;
  }
  
  /* ==========================================================================
     Mobile styles - Width adjustments
     ========================================================================== */
  /* Landscape phones and down */
  @media (max-width: 480px) { 
  
  }
  
  /* Landscape phone to portrait tablet */
  @media (min-width: 481px) and (max-width: 767px) { 
  
  }
  
  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 991px) { 
  
  }
  
  /* Desktops and laptops ----------- */
  @media (min-width: 992px) and (max-width: 1199px) {
  
  }
  
  /* Large screens ----------- */
  @media (min-width: 1200px) and (max-width: 3000px) {
  
  }
  
  /* ==========================================================================
     Height adjustments
     ========================================================================== */
  /* Landscape phones and down */
  @media (max-height:  800px) { 
  
  }  

#lawsForm-wrap {
	background-color: #eaeaea;
	padding: 20px 20px;
	margin-bottom: 50px;
}

/* The main content */
.main-content {
    max-width: 600px;
    padding-top: 40px;
    padding-right: 40px;
    margin: 0 0 40px 250px;
  }
  
  .laws {
      border: 1px solid #ececec;
      background-color: #2d2d2d;
      padding: 10px 20px;
      margin: 0px 0px 20px 0px;
  }
  
  .laws:hover {
      
      background-color: #3a3a3a;
  }
  
  .laws-img {
       width: 100%;
       max-height: 500px;
       color:#fff;
       background-repeat:no-repeat;
       background-attachment:scroll;
      background-position:center center; 
      -webkit-background-size:cover; 
      -moz-background-size:cover; 
      background-size:cover; 
      -o-background-size:cover;
  }
  
  .laws-title {
      color: #52b859;
      font-size: 40px;
      margin: 0px 0px;
      padding-bottom: 10px;
      word-wrap: break-word;
  }
  
  .meta {
      color: #fff;	
      font-size: 18px;
      font-weight: 900;
  }
  
  .laws-desc {
      color: #bcbcbc;
      font-size: 18px;
      line-height: 1.8;
  }
  
  .smiley {
      width: 50px;
      padding-left: 10px;
      padding-right: 10px;
      -webkit-transition: all 0.5s;
         -moz-transition: all 0.5s;
           -o-transition: all 0.5s;
              transition: all 0.5s;
  }
  
  .smiley:hover {
      width: 50px;
      padding-left: 0px;
      padding-right: 0px;
      -webkit-transition: all 0.5s;
         -moz-transition: all 0.5s;
           -o-transition: all 0.5s;
              transition: all 0.5s;
  }
  
  #info {
      padding-left: 20px;
  }
  
  #vote {
      padding: 10px 20px;
  }
  
  #score {
      padding-left: 48px;
  }
  
  .count {
      padding-right: 32px;
      padding-top: 0px;
      margin-top: 0px;
  }

  html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  background-image: url("pattern.png"); 
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.block {
  
  /*float: left;*/
    display: inline-block;
}

  .form-signin {
	width: 100%;
	max-width: 500px;
}

.form-control {
	height: 50px;
	margin-bottom: 10px;
}

#login-btn {
	margin-bottom: 40px;
}

@media (max-width: 768px) {
  .form-signin {
	padding: 0px 30px 0px 30px;
	}
}

#profile-wrap {
	background-color: #eaeaea;
	padding: 50px 20px;
	margin-bottom: 50px;
}

.profile-img {
	max-width: 200px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.profileImage {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#profile-btn {
	margin: 20px 20px;
}

label {
	color: #337ab7;
	padding: 10px 10px;
	border: 2px solid #337ab7;
	border-radius: 5px;
}

label:hover {
	color: #5593c6;
	border-color: #5593c6;
}

.profile-smiley {
	width: 50px;
	padding: 5px 5px;

}

.score {
	padding-left: 22px;
}

#score-stable {
	margin-left: 20px;

}

#left-margin-sm {
	margin-left: 2px;
}

  #search-wrap {
    background-color: #eaeaea;
    padding: 50px 20px;
    margin-bottom: 50px;
  }
  
  .leaderboard {
    border-top: 1px solid #f1f1f1;
    counter-reset: ol-counter;
    list-style-type: none;
    margin: 0 0 1.5em;
    padding: 0;
    min-height: 530px;
  }
  
  .user {
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
    padding: .5em 0;
    position: relative;
    overflow: hidden;
    transition: background 300ms ease-out;
    border-left: 4px solid white;
  }
  
  .user:before {
    color: #999;
    content: counter(ol-counter);
    counter-increment: ol-counter;
    display: inline-block;
    font-weight: 300;
    line-height: 3em;
    text-align: center;
    vertical-align: middle;
    width: 3em;
  }
  
  .user .name {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 300;
    vertical-align: middle;
  }
  
  .mini-profile-img img {
    width: 50px;
  }
  
  .user .author {
    font-size: 16px;
    margin-right: 1em;
    vertical-align: top;
  }
  
  .user .post {
    font-size: 20px;
    margin-right: 1em;
    vertical-align: top;
  }
  
  .user .vote-score {
    font-size: 16px;
    margin-right: 1em;
    vertical-align: top;
  }
  
  .user.selected {
    background-color: #fefff4;
    border-left: #52b859 4px solid;
    height: auto;
    transition: all 0.5s ease;
  }
  
  .user:hover {
    background-color: #fefff4;
  }
  
  .details {
    overflow: hidden;
  }
  
  .details .name {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 2.25rem;
    padding-left: 1.25rem;
    vertical-align: middle;
  }
  
  .easy-search-input {
      width: 100%;
      height: 40px;
      font-size: 15px;
      padding: 5px 12px;
  }
  
  .padded {
      padding: 20px 0;
  }
  
  .examples, .count-results {
      color: grey;
  }
  
  .examples {
      font-style: italic;
  }
  
  .jokeInfo {
    padding-left: 46px;
  }
  
  .pagination {
      list-style-type: none;
      text-align: center;
      font-size: 17px;
      padding: 10px 0 0 0;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  
  .pagination .page {
      display: inline-block;
      padding: 5px 0;
      margin: 0 2px;
      min-width: 25px;
      cursor: pointer;
      color: #2495d0;
  }
  
  .pagination .page.disabled {
      color: grey;
  }
  
  .pagination .page.current {
      color: black;
      font-weight: bold;
  }
  
  @media (max-width: 500px) {
    .details, .message {
      display: block;
      position: fixed;
      bottom: 0;
      background-color: #fafafa;
      width: 100%;
      padding: 12px 15px;
      border-top: 1px solid #ccc;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
  
    .details .name {
      font-size: 1.2em;
      padding-left: 0;
    }
  
    .user:hover {
      background-color: inherit;
    }
  
    .user.selected:hover {
      background-color: #fefff4;
    }
  }

  /* The left sidebar */
.sidebar-left {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2d2d2d;
    background-size: cover;
    width: 200px;
    height: 100%;
    padding: 20px 0;
  }
  
  .icon {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 80px;
  }
  
  .sidebar-left a.company-logo {
    display: block;
    text-decoration: none;
    margin: 0 auto;
    padding: 10px 0px 0px 0px;
    text-align: center;
    color:  #ffffff;
    font-size: 30px;
    font-weight: 600;
  }
  
  .sidebar-left .sidebar-links {
    margin: 20px auto;
  }
  
  .sidebar-left .sidebar-links a {
    display: block;
    text-decoration: none;
    margin: 0 auto 5px auto;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    color:  #b3bcc5;
    font-size: 12px;
    font-weight: bold;
    border-left-width: 2px;
    border-left-style: solid;
  }
  
  .sidebar-left .sidebar-links a i.fa {
    display: block;
    font-size: 35px;
    margin-bottom: 5px;
  }
  
  .sidebar-left .sidebar-links a:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: #ffffff;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
  }
  
  .sidebar-left .sidebar-links a.selected{
    background-color: #ffffff;
    color: rgba(0, 0, 0, 1);
    font-size: 12px;
    font-weight: bold;
    cursor: default;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
  }
  
  /* Link Colors */
  .sidebar-left .sidebar-links a.link-blue {
    border-color: #2495d0;
  }
  .sidebar-left .sidebar-links a.link-blue i.fa {
    color: #2495d0;
  }
  
  .sidebar-left .sidebar-links a.link-red {
    border-color: #ec4a4d;
  }
  .sidebar-left .sidebar-links a.link-red i.fa {
    color: #ec4a4d;
  }
  
  .sidebar-left .sidebar-links a.link-yellow {
    border-color: #f7cb5b;
  }
  .sidebar-left .sidebar-links a.link-yellow i.fa {
    color: #f7cb5b;
  }
  
  .sidebar-left .sidebar-links a.link-green {
    border-color: #52b859;
  }
  .sidebar-left .sidebar-links a.link-green i.fa {
    color: #52b859;
  }
  
  .sidebar-left .sidebar-links a.link-purple {
    border-color: #915ba2;
  }
  .sidebar-left .sidebar-links a.link-purple i.fa {
    color: #915ba2;
  }
  
  /* Making the sidebar responsive */
  @media (max-width: 900px) {
  
    .main-content{
      max-width: none;
      padding: 40px 20px;
      margin: 0 0 40px;
    }
  
    .sidebar-left {
      width: auto;
      height: auto;
      position: inherit;
      padding: 20px 0 0;
    }
  
    .sidebar-left .sidebar-links {
      text-align: center;
      margin: 20px auto 0;
    }
  
    .sidebar-left .sidebar-links a {
      display: inline-block;
      width: 100px;
      margin: 0;
      padding: 14px 0;
      border-left: none;
      border-top-width: 2px;
      border-top-style: solid;
    }
  
  }
  
  /* Mobile phone layout */
  @media (max-width: 450px) {
  
    .sidebar-left {
      padding: 20px 0;
    }
  
    .sidebar-left .sidebar-links {
      text-align: center;
      margin: 20px auto 0;
    }
  
    .sidebar-left .sidebar-links a {
      display: block;
      max-width: 240px;
      width: auto;
      text-align: left;
      margin: 0 auto 5px;
      padding: 10px 25px;
      border-top: none;
      border-left-width: 2px;
      border-left-style: solid;
    }
  
    .sidebar-left .sidebar-links a i.fa {
      display: inline-block;
      font-size: 20px;
      width: 20px;
      margin: 0 20px 0 0;
      vertical-align: middle;
    }
  
  }

  .form-signup { 
	width: 100%;
	max-width: 500px;
}

meteorbody {
    padding:10px;
    font-family: 'Times New Roman','Times New Roman', Times, serif;
}

nav ul form {
    text-align: right;
    list-style-type: none;
}

h1 {
    text-align: center
}

.column {
    float: left;
    width: 30%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content:"";
    display: table;
    clear: both;
}

.card {
    border: 3px red;
    box-shadow: 0 4px 8px 0 rgba(255, 3, 3, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #fff9f8;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

#txtcopyright {
  text-align: center;
  color:lightgrey;
  font-size: 12px;
  margin-left: 12.5%;
  width: 75%;
  margin-top:15%;
}


#laws{
    border-style: solid;
    font-size: 18px;
    font-family: 'Times New Roman';
}

#firstLaw {
    margin-bottom: 10px;
}

#secondLaw {
    margin-top: 30px;
    margin-bottom: 10px;
}