body {
    padding:10px;
    font-family: 'Times New Roman','Times New Roman', Times, serif;
}

nav ul form {
    text-align: right;
    list-style-type: none;
}

h1 {
    text-align: center
}

.column {
    float: left;
    width: 30%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content:"";
    display: table;
    clear: both;
}

.card {
    border: 3px red;
    box-shadow: 0 4px 8px 0 rgba(255, 3, 3, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #fff9f8;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

#txtcopyright {
  text-align: center;
  color:lightgrey;
  font-size: 12px;
  margin-left: 12.5%;
  width: 75%;
  margin-top:15%;
}