meteorbody {
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul form {
    text-align: right;
    list-style-type: none;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.card-deck {
    float: left;
    width: 30%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content:"";
    display: table;
    clear: both;
}

.card {
    border: 3px red;
    box-shadow: 0 4px 8px 0 rgba(255, 3, 3, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #fff9f8;
}

@media screen and (max-width:600px) {
    .card-deck{
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.articleTextArea {
    font-size: 12px;
    border-color: lightgrey;
  }

#txtcopyright {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:lightgrey;
    font-size: 12px;
    margin-left: 12.5%;
    width: 75%;
    margin-top:15%;
}

#laws {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#survey {
    font-family: Arial, Helvetica, sans-serif;
}

#choixReponse {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
}

#firstLaw {
    margin-bottom: 10px;
}

#secondLaw {
    margin-top: 30px;
    margin-bottom: 10px;
}
#logo{
    height:70px;
}
#titleMain{
    padding-top: 100px;
}

.poll {
    margin-right: 100px;
    margin-left: 100px; 
}

.highlightPour {
    background-color: #9fdf9f;
}

.highlightPourPrincipe {
    background-color: #d9f2d9;
}

.highlightContre {
    background-color: #ffcccc;
}

.highlightContrePrincipe {
    background-color: #ffe6e6;
}

.navbar-item {
    font-family: Arial, Helvetica, sans-serif;
}

.border{
    border-width: 12px;
    border-color: red;
}



/* ==========================================================================
   Mobile styles - Width adjustments
   ========================================================================== */
/* Landscape phones and down */
@media (max-width: 480px) { 

}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) { 

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) { 

}

/* Desktops and laptops ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large screens ----------- */
@media (min-width: 1200px) and (max-width: 3000px) {

}

/* ==========================================================================
   Height adjustments
   ========================================================================== */
/* Landscape phones and down */
@media (max-height:  800px) { 

}

